.boards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  gap: 8px;
}

.board {
  margin-bottom: 32px;
    cursor: pointer;
}

.board img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 16px;

}

.boardInfo {
  display: flex;
  flex-direction: column;
}

.boardInfo h2 {
  font-size: 14px;
  font-weight: 400;
}

.boardInfo span {
  font-size: 13px;
  color: gray;
}


