* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

}

.notFoundPage {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notFoundPage h1 {
  font-size: 5rem;
}
